body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.imagebox{
  display: flex;
  flex-direction: row; 
  gap: 20px;
}
#aboutcontentbox{
  width: 50%;
}
.img{
  width: 50%;
}
@media screen and (max-width:500px) {
  .imagebox{
     flex-direction: column;
     gap: 0px;
  }  
  #aboutcontentbox{
    width: 100%;
  }
  .img{
    width: 100%;
  }
}
